* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f0f4fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 934px;
  height: 677px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 34px 25px -20px rgba(149, 179, 232, 0.18);
}
.container .title {
  margin-top: 120px;
  font-family: 'Mulish', sans-serif;
  font-size: 26px;
  color: #2c3e50;
}

.container .subtitle {
  margin-top: 18px;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 90px;
}

.container .cards {
  width: 563px;
  height: 259px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.container .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 209px;
  height: 209px;
  background-color: #f0f4fb;
  border-radius: 15px;
  position: relative;
}

.container .cards .card .card-content {
  width: 173px;
  height: 173px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 10px 20px -4px #c6d8f7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.container .cards .card .card-content .profile {
  margin: 16px 0;
}
.container .cards .card .card-content .name {
  font-family: 'Mulish', sans-serif;
  font-size: 12px;
  color: #2c3e50;
  margin-bottom: 17px;
}

.container .cards .card .card-content .dots {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.container .cards .card .card-content .dots:hover {
  background-color: #f0f4fb;
}
.container .cards .more {
  height: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cards .card .dropdown {
  border: 1px solid #2c3e50;
  height: 81px;
  width: 107px;
  background-color: white;
  box-shadow: 0px 10px 20px -4px rgba(198, 216, 247, 0.7);
  position: absolute;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  bottom: -50px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0px 5px;
  width: 87px;
  height: 28px !important;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #2c3e50;
  border-radius: 3px;
}
.dropdown-item:hover {
  background-color: #f0f4fb;
}
.dropdown-item img {
  margin-right: 5px;
}
